<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Review Lens
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bienvenido</strong>
    <p> a la App que te da la mayor información acerca de un objetivo, antes de comprarlo. En la versión de Pago encontrarás archivos RAW para que puedas ver la calidad de una forma más exhaustiva</p>
  </div>
</ion-content>
